In [0]:
import pyspark 
from pyspark.sql import SparkSession 
spark =SparkSession.builder.appName("Notebook").getOrCreate()
df_pyspark=spark.read.csv("/FileStore/tables/file2_csv.txt",header=True,inferSchema=True)
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| chandu|Data Science| 10000|
| chandu|         IOT|  5000|
| chandu|    Big Data|  4000|
| Rohith|    Big Data| 40001|
| Rohith|Data Science|  3000|
|krishna|Data Science| 20000|
|krishna|         IOT| 10000|
|krishna|    Big Data|  5000|
| rashmi|Data Science|  2000|
| rashmi|    Big Data| 10000|
+-------+------------+------+

In [0]:
#GROUPBY() fun with sum
df_pyspark.groupBy("Departments").sum("Salary").show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      10000|
|    Big Data|      49001|
|Data Science|      35000|
+------------+-----------+

In [0]:
# COUNT() Function
df_pyspark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    1|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [0]:
df_pyspark.groupBy("Departments").min("salary").show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|      10000|
|    Big Data|       4000|
|Data Science|       2000|
+------------+-----------+

In [0]:
df_pyspark.groupBy("Departments").max("salary").show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|      10000|
|    Big Data|      40001|
|Data Science|      20000|
+------------+-----------+

In [0]:
# MEAN() Function
df_pyspark.groupBy("Departments").mean("Salary").show()

+------------+------------------+
| Departments|       avg(Salary)|
+------------+------------------+
|         IOT|            7500.0|
|    Big Data|           10000.0|
|    Big Data|16333.666666666666|
|Data Science|            8750.0|
+------------+------------------+

In [0]:
# AVG() Function
df_pyspark.groupBy("Departments").avg("Salary").show()

+------------+------------------+
| Departments|       avg(Salary)|
+------------+------------------+
|         IOT|            7500.0|
|    Big Data|           10000.0|
|    Big Data|16333.666666666666|
|Data Science|            8750.0|
+------------+------------------+

In [0]:
# Pivot Function
df_pyspark.groupBy("Departments").pivot("Name").sum("salary").show()

+------------+------+------+-------+------+
| Departments|Rohith|chandu|krishna|rashmi|
+------------+------+------+-------+------+
|         IOT|  NULL|  5000|  10000|  NULL|
|    Big Data|  NULL|  NULL|   NULL| 10000|
|    Big Data| 40001|  4000|   5000|  NULL|
|Data Science|  3000| 10000|  20000|  2000|
+------------+------+------+-------+------+

In [0]:
# groupby with multiple columns
df_pyspark.groupBy("Name","Departments").sum("salary").show()

+-------+------------+-----------+
|   Name| Departments|sum(salary)|
+-------+------------+-----------+
| rashmi|    Big Data|      10000|
| Rohith|Data Science|       3000|
| Rohith|    Big Data|      40001|
| rashmi|Data Science|       2000|
| chandu|         IOT|       5000|
| chandu|    Big Data|       4000|
|krishna|    Big Data|       5000|
| chandu|Data Science|      10000|
|krishna|         IOT|      10000|
|krishna|Data Science|      20000|
+-------+------------+-----------+

In [0]:
#groupBy() and agg() function
df_pyspark.groupBy("Departments").agg(({"salary":"sum"})).show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      10000|
|    Big Data|      49001|
|Data Science|      35000|
+------------+-----------+

In [0]:
df_pyspark.agg(({"salary":"sum"})).show()

+-----------+
|sum(salary)|
+-----------+
|     109001|
+-----------+

In [0]:
import pyspark 
from pyspark.sql import SparkSession 
spark =SparkSession.builder.appName("Notebook").getOrCreate()
df_pyspark1=spark.read.csv("/FileStore/tables/file5.csv",header=True,inferSchema=True)
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [0]:
# Dropping rows based on null values
df_pyspark1.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [0]:
 # if all values in rows are null then drop # default any
df_pyspark1.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     null|  36|      NULL|  NULL|
+---------+----+----------+------+

In [0]:
#atleast 2 non null values should be present. 
df_pyspark1.na.drop(how="any",thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     null|  36|      NULL|  NULL|
+---------+----+----------+------+

In [0]:
# only in that column rows get deleted
df_pyspark1.na.drop(how="any",subset=["salary"]).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [0]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| chandu|Data Science| 10000|
| chandu|         IOT|  5000|
| chandu|    Big Data|  4000|
| Rohith|    Big Data| 40001|
| Rohith|Data Science|  3000|
|krishna|Data Science| 20000|
|krishna|         IOT| 10000|
|krishna|    Big Data|  5000|
| rashmi|Data Science|  2000|
| rashmi|    Big Data| 10000|
+-------+------------+------+

In [0]:
# Sort based on single column
df_pyspark.sort("Salary").show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| rashmi|Data Science|  2000|
| Rohith|Data Science|  3000|
| chandu|    Big Data|  4000|
| chandu|         IOT|  5000|
|krishna|    Big Data|  5000|
| chandu|Data Science| 10000|
|krishna|         IOT| 10000|
| rashmi|    Big Data| 10000|
|krishna|Data Science| 20000|
| Rohith|    Big Data| 40001|
+-------+------------+------+

In [0]:
#sort based on descending order
df_pyspark.sort(df_pyspark["Salary"].desc()).show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| Rohith|    Big Data| 40001|
|krishna|Data Science| 20000|
| chandu|Data Science| 10000|
|krishna|         IOT| 10000|
| rashmi|    Big Data| 10000|
| chandu|         IOT|  5000|
|krishna|    Big Data|  5000|
| chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
| rashmi|Data Science|  2000|
+-------+------------+------+

In [0]:
# Sort based on first column then second column
df_pyspark.sort("Salary","Name").show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| rashmi|Data Science|  2000|
| Rohith|Data Science|  3000|
| chandu|    Big Data|  4000|
| chandu|         IOT|  5000|
|krishna|    Big Data|  5000|
| chandu|Data Science| 10000|
|krishna|         IOT| 10000|
| rashmi|    Big Data| 10000|
|krishna|Data Science| 20000|
| Rohith|    Big Data| 40001|
+-------+------------+------+

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000),(2, "Rose",1 , "2010", "20","M", 4000),(3,"Williams",1,"2010","10","M",1000),(4, "Jones",2 ,"2005","10","F",2000),(5,"Brown",2,"2010","40","",-1),(6, "Brown", 2, "2010","50","",-1)]
empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]
empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") .show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftsemi").show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftanti").show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+