In [1]:
import pyspark

In [2]:
print("jeevan")

jeevan

In [4]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice").getOrCreate()
 
spark
df=spark.read.csv("file1.csv")
df
df.show()

+-------+---+-------------+
|    _c0|_c1|          _c2|
+-------+---+-------------+
|   NAME|AGE|         CITY|
|  ALICE| 25|     NEW YORK|
|    BOB| 30|SAN FRANCISCO|
|CHARLIE| 22|  LOS ANGELES|
+-------+---+-------------+

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)
rdd.collect()

[('Java', 20000), ('Python', 100000), ('Scala', 3000)]

In [8]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s['a'])

1

In [9]:
import pandas as pd
Series1 = pd.Series([10,20,30,40,50])
Series2 = Series1*2
print(Series1)
print(Series2)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0     20
1     40
2     60
3     80
4    100
dtype: int64

In [ ]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
reduce_rdd = sc.parallelize([1,3,4,6])
print(reduce_rdd.reduce(lambda x, y : x + y))