In [0]:
spark.sql("CREATE DATABASE IF NOT EXISTS customer_db;")
# Create a database named 'customer_db' with a comment and properties
spark.sql("CREATE DATABASE IF NOT EXISTS customer_db COMMENT 'This is customer database' WITH DBPROPERTIES (ID='1', Name='John')")

# Describe the database to check if it's created successfully
spark.sql("DESCRIBE DATABASE EXTENDED customer_db")

DataFrame[database_description_item: string, database_description_value: string]

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [0]:
df = spark.read.csv("/FileStore/tables/file2_csv.txt",header=True)
df.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| chandu|Data Science| 10000|
| chandu|         IOT|  5000|
| chandu|    Big Data|  4000|
| Rohith|    Big Data| 40001|
| Rohith|Data Science|  3000|
|krishna|Data Science| 20000|
|krishna|         IOT| 10000|
|krishna|    Big Data|  5000|
| rashmi|Data Science|  2000|
| rashmi|    Big Data| 10000|
+-------+------------+------+

In [0]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: string (nullable = true)

In [0]:
df.select("Name").show()

+-------+
|   Name|
+-------+
| chandu|
| chandu|
| chandu|
| Rohith|
| Rohith|
|krishna|
|krishna|
|krishna|
| rashmi|
| rashmi|
+-------+

In [0]:
df.createOrReplaceTempView("people")
sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| chandu|Data Science| 10000|
| chandu|         IOT|  5000|
| chandu|    Big Data|  4000|
| Rohith|    Big Data| 40001|
| Rohith|Data Science|  3000|
|krishna|Data Science| 20000|
|krishna|         IOT| 10000|
|krishna|    Big Data|  5000|
| rashmi|Data Science|  2000|
| rashmi|    Big Data| 10000|
+-------+------------+------+